<html>

	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Sam Brown">
		<meta name="description" content="title drawn by Sam Brown">
		<meta name="date" content="{{ date }}">
		<meta name="year" content="{{ year }}">

		<title>{{ title | safe }}</title>
		<link rel="stylesheet" href="/dog.css">
		
	</head>

<body>
<h1> <a href="/">explodingdog</a></h1>
	<article class="drawing">
		<h2>{{ title | safe }}</h2>
		<p>
		<a href="/title/{{ next_html }}"><img src="{{ img_file }}"></a>
	</p>
		<small><a href="/title/{{ next_html }}">previous</a></small>
	</article>
<ol>
			<li><a href="/2015.html">2015</a></li>
			<li><a href="/2014.html">2014</a></li>
			<li><a href="/2013.html">2013</a></li>
			<li><a href="/2012.html">2012</a></li>
			<li><a href="/2011.html">2011</a></li>
			<li><a href="/2010.html">2010</a></li>
			<li><a href="/2009.html">2009</a></li>
			<li><a href="/2008.html">2008</a></li>
			<li><a href="/2007.html">2007</a></li>
			<li><a href="/2006.html">2006</a></li>
			<li><a href="/2005.html">2005</a></li>
			<li><a href="/2004.html">2004</a></li>
			<li><a href="/2003.html">2003</a></li>
			<li><a href="/2002.html">2002</a></li>
			<li><a href="/2001.html">2001</a></li>
			<li><a href="/2000.html">2000</a></li>		
			
			
		</ol>

	<nav>
			<h2>also at:</h2>
			<ul>		
				<li><a href="http://www.buildingaworld.com">gift shop</a></li>
				<li><a href="http://explodingdog.com/mailinglist/">emailing list</a></li>
			</ul>
			<ul>
				<li><a href="https://www.instagram.com/explodingdog_sam/">instagram</a></li>
				<li><a href="http://twitter.com/Explodingdog">twitter</a></li>
				<li><a href="http://explodingdog.tumblr.com/">tumblr</a></li>
				
				
			</ul>	
		</nav>

		<small>
				©2020 Sam Brown
			</small>
		
</body>

</html>

