<html>

	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Sam Brown">
		<meta name="description" content="title drawn by Sam Brown">
		<meta name="date" content="{{ date }}">
		<meta name="year" content="{{ year }}">

		<title>{{ title }}</title>
		<link rel="stylesheet" href="dog.css">
	</head>

<body>
<h1> <a href="/">explodingdog</a></h1>

	{% block content %}{{ content | safe }}{% endblock %}
       
  
	{% include 'footer.njk' %}
		
</body>

</html>

