<html>

	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Sam Brown">
		<meta name="description" content="title drawn by Sam Brown">
		<meta name="date" content="{{ date }}">
		<meta name="year" content="{{ year }}">

		<title>{{ title | safe }}</title>
		<link rel="stylesheet" href="dog.css">
		
	</head>

<body>
<h1> <a href="/">explodingdog</a></h1>
	<article class="drawing">
		<h2>{{ title | safe }}</h2>
		<p>
		<a href="/title/{{ next_html }}"><img src="{{ img_file }}"></a>
	</p>
		<small><a href="/title/{{ next_html }}">previous</a></small>
	</article>


	<nav>
			<h2>also at:</h2>
			<ul>		
				<li><a href="http://www.buildingaworld.com">gift shop</a></li>
				<li><a href="http://explodingdog.com/mailinglist/">emailing list</a></li>
			</ul>
			<ul>
				<li><a href="https://www.instagram.com/explodingdog_sam/">instagram</a></li>
				<li><a href="http://twitter.com/Explodingdog">twitter</a></li>
				<li><a href="http://explodingdog.tumblr.com/">tumblr</a></li>
				
				
			</ul>	
		</nav>

		<small>
				©2020 Sam Brown
			</small>
		
</body>

</html>

